<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Question Detail</h1>
    
    {% if question %}
    <h2>{{ question.subject }}</h2>
    <p>{{ question.content }}</p>
    <p>작성 날짜: {{ question.create_date }}</p>
    {% else %}
    <p>해당 질문이 존재하지 않습니다.</p>
    {% endif %}
    {% if question.answer_set %}
    {% for ans in question.answer_set %}
    <hr>
        {{ ans.id }} <br>
        {{ ans.content }} <br>
        {{ ans.create_date }} <br>
    {% endfor %}
    {% else %}
    <p>해당 답변이 존재하지 않습니다.</p>
    {% endif %}


</body>
</html>